/* ALLE STYLES KOMMER TIL AT LIGGE HER */
*{
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    font-family: New Century Schoolbook, serif;
}
body{
    height: 100%;
    width: 100%;
    margin:0;
}

.container{
    height: 100%;
    width: 100%;
    background: #f4f4f4;
    margin:0 auto;
    border-radius: 5px;
}
.container .topbar{
    height: 40px;
    width: 100%;
    background: #090e92;
}
.container .topbar > div{
    border-radius: 50px;
    float: left;
    color: white;
    padding: 10px;
    margin-left: 15px;
    text-align: center;
    font-weight: 600;
}
.container .topbar > div:hover{
    text-decoration: underline;
    cursor:pointer;
}
.container .content{
    height: calc(100% - 140px);
    width: 100%;
    padding: 10px 25px;
}
.container .content .leftContent{
    width:400px;
    float:left;
}
.container .content .rightContent{
    margin-left:5px;
    width:calc(100% - 410px);
    float:left;
}

.loading{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.6;
}
.loading .spinnerContainer{
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 100px);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 2.0;
}
.loading .spinnerContainer .spinner {
    border: 8px solid #c1c1c1;
    border-top: 8px solid #090e92;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spinLoading 2s linear infinite;
}

@keyframes spinLoading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*
Generelle styles
 */
input{
    font-size: 16px;
    border-color: #cccccc;
    padding: 4px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    margin-bottom: 5px;
}
input:focus{
    outline: none;
}

button {
    box-shadow:inset 0px 1px 0px 0px #97c4fe;
    background: #3d94f6 linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 40px;
    text-decoration:none;
    text-shadow:0 1px 0 #1570cd;
}
button:hover {
    background: #1e62d0 linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
}
b{
    font-weight: 600;
}