/* ALLE STYLES KOMMER TIL AT LIGGE HER */

*{
    box-sizing: border-box;
}
html{
    height: 100%;
    width: 100%;
    font-family: New Century Schoolbook, serif;
}
body{
    height: 100%;
    width: 100%;
    margin:0;
    color:white;
}

.container{
    height: 100%;
    width: 100%;
    background-color:rgb(48, 51, 56);
    margin:0 ;
    overflow: hidden;
}
.container .topbar{
    height: 35px;
    width: 100%;
    background-color:rgb(66, 75, 89);
    box-shadow:         inset 0 0 2px #000000;
}
.container .topbar > div{
    float: left;
    color: white;
    height:100%;
    padding:10px;
    vertical-align:middle;
    text-align: center;
    box-sizing: border-box;
    transition: 0.2s;

    font-weight: 300;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:16px;
    text-transform: uppercase;
}
.container .topbar > div:hover{
    background-color:rgb(54, 185, 224);
    cursor:pointer;
    -moz-box-shadow:    inset 0 0 2px #000000;
    -webkit-box-shadow: inset 0 0 2px #000000;
    box-shadow:         inset 0 0 2px #000000;
}
.container .content{
    height: calc(100% - 140px);
    width: 100%;
    min-height:100%;

    overflow: auto;
    box-sizing:border-box;

    -moz-box-shadow:    inset 0 0 5px #000000;
    -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow:         inset 0 0 5px #000000;
}
.container .content .leftContent{
    width:400px;
    float:left;
}
.container .content .rightContent{
    margin-left:5px;
    width:calc(100% - 410px);
    float:left;
}

.loading{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.6;
}
.loading .spinnerContainer{
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 100px);
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 2.0;
}
.loading .spinnerContainer .spinner {
    border: 8px solid #c1c1c1;
    border-top: 8px solid #090e92;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spinLoading 2s linear infinite;
}

@keyframes spinLoading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* frontpage */
#home {
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top:50px;
    text-align:center;
    color:white;
    text-transform: uppercase;
}
#home div{
    margin-bottom:10px;
}

#frontpage_title {
    font-size:50px;
}

.roles span{
    cursor:pointer;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*
Generelle styles
 */
.box{
    margin: 0 auto;
    max-width: 600px;
}

input{
    font-size: 16px;
    border-color: #cccccc;
    padding: 4px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    width: 100%;
    margin-bottom: 5px;
}
input:focus{
    outline: none;
}

button {
    box-shadow:inset 0 1px 0 0 #97c4fe;
    background: #3d94f6 linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    border-radius:6px;
    border:1px solid #337fed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 40px;
    text-decoration:none;
    text-shadow:0 1px 0 #1570cd;
}
button:hover {
    background: #1e62d0 linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
}
b{
    font-weight: 600;
}
.animation{
    animation: fadein 2s;
}